@model InokerWebApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Product1">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
